.about-img{
    size: 20px 20px;
}
.adv-img{
    display:inline;

}
.advantage{

    padding:0 !important;

}
.advantage-text{
    vertical-align: center;
}
.adv-cell .row{
    margin:20px 10px;


}
.video{
    width:100%;
    height:100%;
}
@media only screen and (min-width: 480px){
    .video{
        padding-top:0;
        height:250px;
    }
}

@media only screen and (min-width: 750px){
    .video{
        height:400px;
    }
}
@media only screen and (min-width: 1350px){
    .video{
        height:600px;
    }
}
.white-border{
    border:1px solid white;
}

.advantages{
    padding-bottom:30px;
}
.adv-img-container{
    padding:0 5px 0 0 !important;
}




.quote {
    font-family: Georgia, serif;
    font-size: 14px;
}






