.white{
    background-color: #fff;
    border: 1px solid black;
}
.black{
    background-color: #000;
    border: 1px solid white;
    color: #fff;
}
.btn{
    width: 150px;
    height: 70px;
}
.green {
    position: relative;
    transition: all 500ms ease;
    background: #3c9253 ;
    color:white;
    border: 3px solid #3c9253 ;
    z-index: 6 !important;
}


.green:hover {
    font-weight: 700;
    border: 3px solid #3c9253 ;
    background-color: rgba(256, 256, 256, 0.1);
}
.black-green{
    font-size:19px;
    font-weight: 600;
    width: 230px;
    height: 60px;
    color:black;
    margin:20px 0;
    padding:10px 5px;
}
.black-green:hover{
    font-weight: 600;
}
.close-btn{
    font-size:13px;
    width: 100px !important;
    height: 30px !important;
    padding:3px;
    justify-self: flex-end;
}
