.invisible{
    display:none;
}
.visible{
    display:block;
}
.no-border{
    border:none !important;
}
@media (max-width: 576px){
    #toggle{
        font-size: 20px;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
}
.col-4 a Button{
    white-space: nowrap;
}
.col-4 a{
    text-align: center;
}