.slick-next:before, .slick-prev:before {
    color: black !important;
}

.portfolio-slider div {
    padding: 1px 1px;
}

.sm-border-black {
    border: 1px solid black;
}

.img-portfolio {
    border: none !important;
}

.portfolio-box-title h5, .portfolio-box-title h6{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.img-portfolio-box {
    height: 250px;
    width: 100%;
    background-size: 100% 100%;
    position: relative;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1000ms;
    -moz-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    transition-duration: 1000ms;
}
.img-portfolio-box:hover, .img-portfolio-box-rec:hover .img-portfolio-box {
    background-size: 120% 120% !important;
}


.img-portfolio-box:before {
    content: "";
    width: 45%;
    height: 45%;
    display: block;
    z-index: -1;
    position: absolute;
    background: linear-gradient(to right bottom, white, #3c9253);
    right: -4px;
    bottom: -4px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1000ms;
    -moz-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    transition-duration: 1000ms;
}

.img-portfolio-box:after {
    content: "";
    width: 45%;
    height: 45%;
    display: block;
    z-index: -1;
    position: absolute;
    background: linear-gradient(to right bottom, #3c9253, white);
    left: -4px;
    top: -4px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1000ms;
    -moz-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    transition-duration: 1000ms;
}

.img-portfolio-box:hover:before, .img-portfolio-box:hover:after, .img-portfolio-box-rec:hover .img-portfolio-box:after {
    width: 101%;
    height: 101%;
}

.img-portfolio-box:hover:before, .img-portfolio-box-rec:hover .img-portfolio-box:before {
    width: 102%;
    height: 103.2%;
}

.img-portfolio-box-rec:hover:before, .img-portfolio-box-rec:hover:after {
    width: 93%;
    height: 94%;
}


.open-img-box {
    postition: fixed;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 620px) {
    .photo-modal {
        width: 300px !important;
        height: 225px !important;
    }

    .photo-modal img {
        width: 300px !important;
        height: 225px !important;
    }
}

@media screen and (min-width: 620px) {
    .photo-modal {
        width: 600px !important;
        height: 450px !important;
    }

    .photo-modal img {
        width: 600px !important;
        height: 450px !important;
    }
}

.opened-image {
    border: 2px solid black;
}
.ReactModal__Overlay{
    background-color: rgba(0,0,0,0.8) !important;
}

.gallery-modal{
    align-self: flex-start;
    margin-top:30vw;
    top:0 !important;
    bottom:123px !important;
    width:70%;
    background-color: rgba(0,0,0,0.0) !important;
}
.fullscreen{
    margin-top:35vw;
}
@media screen and (min-width: 700px){
    .gallery-modal {
        width: 60%;
        margin-top:2vw;

    }
    .fullscreen{
        margin-top:0vw;
    }
}
@media screen and (min-width: 1000px){
    .gallery-modal {
        width: 50%;

    }

}
.image-gallery {

    height:100%;
}
.image-gallery-slide{
    background-color: rgba(0,0,0,0.0) !important;
}

.fullscreen .image-gallery-image {
    max-height: 100vh !important;
}
.img-portfolio-box-rec .portfolio-box-title{
    height:100%;
    width:100%;
    display:none;
    flex-direction: column;
    justify-content: center;
    color:white;
    position: absolute;
    z-index: 5;
}
.img-portfolio-box-rec:hover .portfolio-box-title{
    display:flex;
}
