/*#preloader{*/
    /*position:relative;*/
/*}*/
#preloader:after {
    content: "";
    background: url('../img/logoGreen.png');
    display: inline-block;
    position: absolute;
    background-size: 100% 100%;
    width: 50% !important;
    height: 13vw;
    z-index: 10000;
}
@media screen and (max-width:548px){
    #preloader:after{
        content:"";
        background:url('../img/logoGreen.png') ;
        display: inline-block;
        position:absolute;
        background-size: 100% 100%;
        width:  50%!important;
        height: 13vw;
        z-index: 10000;
        top:30%;

    }
}

@media screen and (min-width:548px) and (max-width:800px){
    #preloader:after{
        top:12%;

    }
}
@media screen and (min-width:800px) {
    #preloader:after{
        top:7%;

    }
}
/*@keyframes animatePre {*/
   /*from{*/
       /*opacity: 1;*/
   /*}*/
    /*to{*/
        /*opacity: 0;*/
        /*display: none !important;*/
        /*visibility: hidden !important;*/
    /*}*/
/*}*/
/*.invisible{*/
    /*animation: animatePre 1s ease !important;*/
/*}*/




