.title {
    overflow: hidden;
    position: relative;
    margin: 0;
    text-align: center;
    padding: calc(3vw + 20px);
}
.title:before,
.title:after{
    content: '';
    display: inline-block;
    position: relative;
    top: -2px;
    width: 10px;
    height: 2px;
    vertical-align: middle;
    background: black;
}
.title-white{
    color:white !important;
    background-color:black;
}
.title-white:before,
.title-white:after{
    background: white;
}
.title:before {
    left: -8px;
    margin-left: -10%;
}
.title:after {
    left: 8px;
    margin-right: -10%;
}

.curly-quotes:before, .curly-quotes:after {
    display: inline-block;
    vertical-align: top;
    height: 20px;
    line-height: 10px;
    font-size: 50px;
}

.curly-quotes:before {
    content: '\201C';
    padding-right: 4px;
    padding-left: -8px;
    padding-top:5px;
}
.curly-quotes{
    text-align: center;
    font-size:calc(15px + 0.5vw);
    font-weight: 700;
}
.curly-quotes:after {
    content: '\201D';
    padding-left: 4px;
    padding-right: -8px;
    padding-top:36px;
}
.gray-background{
    background-color: #E8E8E8;
}

.no-padding{
    padding:0 !important;
}
.black-background{
    background-color: black;
}
.invisible{
    display:none;
}